*{
    padding:0;
    margin:0;
    user-select: none;
}

body{
    font-family: 'Quicksand', sans-serif;
    background-color: #EEF0F4;
    color:#0E3247;
}

.container{
    display: flex;
    flex-direction: column;
    max-width: 320px;
    margin: 30px auto;
}

img{
    width: 170px;
    margin:0 auto;
}

input{
    color:#0E3247;
    background-color: #DCE1EB;
    border:0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin: 10px 0;
}
ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    padding:0;
    gap:10px;
}

ul li{
    font-size: 20px;
    background-color: #FFFDF8;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
    padding:15px;
    flex-grow: 1;
    border-radius: 8px;
    text-align: center;
}


button{
    color: #FDFDFD;
    background-color: #F5B5C1;
    border:0;
    padding: 15px;
    border-radius: 8px;
    font-size: 20px;
    text-align: center;
    font-family: 'Rubik', sans-serif;
    margin: 10px 0;
}
#add-button:hover{
    cursor: pointer;
    background-color: #113144
}

#shopping-list > li:hover{
    background-color: #dd8f2179;
    color:#FDFDFD;
    cursor: pointer;
}